.main-BG{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tiro Bangla', serif;
    font-size: 25px;
    background-image: url(images/main-BG.jpg);
    background-repeat: no-repeat;
    
}
.first-div{
    color: aliceblue;
    padding-top: 60px;
}

.h1-text{
    text-align: center;
}
.bangla-font{
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tiro Bangla', serif;
}
.bold-span{
    text-b
}
.All-P{
    color: aliceblue;
}