.first{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tiro Bangla', serif;
    color: aliceblue;
    background-image: url(images/main-BG.jpg);
}

.{
    font-size: 25px;
    background-image: url(/images/main-BG.jpg);
    background-repeat: no-repeat;
    margin: 0;
}

.text-c{
    text-align: center;
}
.span-color{
    color: aqua;
    font-weight: bold;
}
body p{
    font-size: 18px;
}

.text-deco{
    text-decoration: dotted;
}

.h1-text{
    font-size: 40px;
}